@import '~style/helpers';

.home {
	position: relative;
	margin: 40px auto 0 auto;
	padding: 10px 10px 10px 10px;
	max-width: 500px;
	width: 100%;
	border-radius: 8px;

	section {
		padding: 10px 10px 10px 10px;
		background: #FFF;
		margin-bottom: 10px;
		border-radius: 8px;

		span {
			float: right;
		}

		a {
			color: #333;
		}
	}
}

.createClinic {
	margin-top: 30px;
}
